/* General Styling for the general website */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Assigning variables for simplifying the code */
:root{
    --box-shadow: 5px 8px 15px #a98e60d1;
    --border-all: 1px solid rgba(128, 128, 128, 0.692);
    --backg-color-hover: #5c4033bd;
    --color-lighter: #eed09dc9;
}

/* Background image */
.main-page{
    background-image: url('../img/cover-back.jpg');
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

/* Styling the header which is laying over the background image */
.container{
    text-align: left;
    justify-content: start;
    height: 70%;
    width: 65%;
    z-index: 1;
    padding: 3%;
    float: right;
}

.bar{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: start;
    margin-top: 30%;
    background-color: var(--color-lighter);
    padding: 4% 10%;
    box-shadow: var(--box-shadow);
}

header{
    text-align: center;
    border: 1px solid white;
    padding: 10% 15%;
    font-size: larger;
}

/* CSS selectors to assign styles in everything inside of nav */
nav > *{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 3%;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 14px 20px;
}

/* Hover styles to let the user he's clicking on - Interactivity */

nav a:hover{
    font-weight: bold;
    border-bottom: 1px solid white;
}

ul .nav a{
    color: white;
}

/* Flexbox use for the bi-side layout  */
.first-layout{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    border-top: var(--border-all);
    padding: 1%;
}

aside{
    flex: 2;
    text-align: left;
    padding: 60px;
    width: 40%;
    text-align: center;
    background-color: #eed09dac;
    box-shadow: var(--box-shadow);
}

#myself-pic{
    width: 70%;
    height: 55%;
}

ul li, ul a{
    list-style: none;
    text-decoration: none;
    padding-bottom: 3%;
    color: black;
}

/* Hover styles to let the user he's clicking on - Interactivity */
ul a:hover{
    font-weight: bold;
}

.contact-bar > *{
    border-top: 1px solid white;
    border-left: 1px solid white;
    padding: 3%;
}

.title-first{
    color: #5C4033;
}

.read-me{
    flex: 4;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    width: 55%;
    float: right;
    padding: 3%;
}

/* CSS selectors for all the childs inside of that element selected */
.read-me > *:nth-child(even){
    border-bottom: var(--border-all);
}

.read-me >*{
    padding-bottom: 5%;
}

.qualities{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
}

.left img{
    padding: 0;
    flex: 5;
    display: flex;
    text-align: left;
    width: 100%;
    height: 80vh;
    padding-right: 2%;
    border-right: var(--border-all);
}

/* Displaying the section title through a hover style  */
.left:hover::before{
    z-index: 1;
    content: 'Soft Skills';
    background-color: var(--backg-color-hover);
    color: white;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25%;
    font-size: 20px;
    padding: 2%;
    width: 50%;
}

.right{
    flex: 1;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    float: right;
    padding-top: 10%;
    margin-left: 1%;
    background-color: rgb(139,69,19);
    box-shadow: var(--box-shadow);
    font-size: 20px;
}

.right:hover{
    opacity: 0.9;
}

.li-styles{
    font-family: 'Abril Fatface', serif;
}

h4{
    display: none;
}

/* Customizing styles for this flexbox use */
#column-text{
    box-shadow: var(--box-shadow);
    background-color:#5C4033;
    color: white;
    padding: 3%;
}

.h2-column{
    justify-content: center;
    text-align: center;
    padding: 3%;
    padding-top: 15%;
    border-bottom: var(--border-all);
}

.p-column{
    justify-content: center;
    text-align: center;
    padding: 3%;
    padding-top: 20%;
}

.column img{
    width: 100%;
}

.column img:hover{
    opacity: 0.8;
}

.smaller-size{
    width: 100%;
    height: 355px;
    padding-top: 5px;
}

/* Flexbox being displayed in a row with a flex column of 25% - 4columns */
.row{
    margin-top: 2%;
    border-top: var(--border-all);
    display: flex;
    padding: 7px;
}

.column{
    flex: 25%;
    padding: 5px;
}

.row-container{
    display: flex;
    box-shadow: var(--box-shadow);
}

.column-container{
    flex: 25%;
    padding: 8px;
}

.column-container img{
    width: 100%;
}

.text-project{
    justify-content: center;
    text-align: center;
    border-left: var(--border-all);
    border-right: var(--border-all);
    padding: 10%;
}

#projects{
    justify-content: center;
    text-align: center;
    color: #5C4033;
    padding: 1%;
}

/* Footer styles */
footer p{
    color: black;
    opacity: 0.5;
    font-family: 'Abril Fatface', serif;
    justify-content: center;
    text-align: center;
    border-top: var(--border-all);
    padding: 2%;
}

#project-deployed:hover{
    opacity: 0.6;
}

/* Customizing hover styles to allow the user interact with this img - Simulating it's going to navigate on that project deployed */
#project-deployed:hover::before{
    z-index: 1;
    content: 'Tap to see more.';
    color: black;
    position: absolute;
    font-family: 'Abril Fatface', serif;
    font-size: 25px;
    padding-top: 15%;
    padding: 5%;
    align-items: center;
    text-align: center;
}


/* Media querys for responsive design */
@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }

    section {
      padding-right: 0;
    }

    aside {
      width: 100%;
      text-align: center;
    }

    .row{
        flex-direction: column;
    }
}